html {
    font-size: 16px;
    color: white;
    background: linear-gradient(180deg, #164028 0%, #1B593C 100%);

    body {
        
        // Body styling section, for consistent in margin and colors
        margin: 1.2rem;
        // AboutMe only section, styling.
        .aboutme {
            font-size: 1rem;

            h1 {
                font-size: 2.81rem;
                font-weight: bold;
                text-align: center;
                font-variant: small-caps;
            }

            article {
                font-size: 1.35rem;
                font-weight: lighter;
            }
        }

        // Competences section

        .competences {

            h1 {
                font-size: 2.20rem;
                font-weight: bold;
                text-align: center;
                font-variant: small-caps;
            }

            h2 {
                color:whitesmoke;
                font-size: 1.80rem;
                font-variant: small-caps;
            }

            article {
                text-align: left;
                font-size: 1.35rem;
                font-weight: lighter;
            }

        }

        .project {

            margin: 2.5rem;

            h1 {
                font-size: 2.20rem;
                font-weight: bold;
                text-align: center;
                font-variant: small-caps;
            }

            .container {

                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin: 3rem;

                // Small screen adapt
                @media only screen and (max-width: 900px){
        
                    .--image{
                        max-width: 100%;
                        height: auto;
                        border-radius: 10px;
                        box-shadow: 4px 2px 2px black;
                    }
    
                }
    
                // Big screen adapting 
                @media only screen and (min-width: 900px){
    
                    .--image{
                        width: 860px;
                        height: 550px;
                        border-radius: 10px;
                        box-shadow: 4px 2px 2px black;
                    }
                }

                .--detail {

                    .--name{
                        text-align: center;
                        font-size: 1.80rem;
                        font-variant: small-caps;
                    }
        
                    .--description{
                        text-align: left;
                        font-size: 1.50rem;
                        font-weight: lighter;
                    }
        
                    .--techs{
                        font-size: 1.20rem;
                        font-weight: lighter;
                    }

                }

                
    
            }

        }

        .contacts {

            margin: 3rem 2rem 2rem auto;

            .--hyperlinks {

                margin-top: 2.5rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                img {
                    width: 12vw;
                    height: 12vw;
                    margin: 1.8rem;
                }
            }

            .--hyperlinks-mail {

                margin-top: 1.5rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;

                .Mail {
                    text-decoration: none;
                    color: #D9C382;
                    font-size: 1.5rem;
                    font-weight: lighter;
                    font-variant: small-caps;
                }
                
            }
        }

    }
}

// Scroll Bar 

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  
::-webkit-scrollbar-track {
    background: #D9C382; 
}