.NavbarItems {
    background: #262626;
    border-radius: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-variant: small-caps;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 100%;
    
}

.nav-links {
    color: #fff;
    text-decoration: none;
}

.nav-links:hover {
    background-color: #D9C382;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 900px){

    .NavbarItems {
        position: relative;
        background: none;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background:#262626;
        left: -1.25rem;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        font-size: 2rem;
    }

    .nav-links:hover {
        background-color: #D9C382;
        border-radius: 0;
    }

    .Navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

}